# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Frontend files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Batch files (Windows)
*.bat text eol=crlf

# Shell scripts (Unix)
*.sh text eol=lf
